#wrapper {
    width: 960px;
    font-family: Helvetica, serif;
    align-content: center;
    height: auto;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
}


#head {
    height: 135px;
    line-height: 135px;
}

#logo {
    height: 135px;
    margin: 5px;
}

.smallBox {
    width: 329px;
}

.bigBox {
    width: 600px;
}

.floatLeft {
    float: left;
}


.floatRight {
    float: right;
}

.textRight {
    text-align: right;
}

.clrBoth {
    margin: 0;
    padding: 0;
}

.inLine {
    display: inline;
}


#banner {
    height: 359px;
    width: 950px;
    margin: 15px 5px 15px auto;
}


hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#col1 {
    width: 460px;
    margin: 100px 5px 10px 5px;
    border-color: black;
}

#col2 {
    width: 460px;
    margin: 100px 5px 10px 10px;

}